* { box-sizing: border-box; }

header, main, nav, footer, figure, figcaption, aside,
section, article { display: block; }

body {
    background-color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
    color: #3f2860;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #3F2860;
    background-color: #F5F5F5;
    min-width: 550px;
    max-width: 1280px;
}

header {
    background-color: #9BC1C2;
    background-image: url("yoga_images/lilyheader.jpg");
        background-position: right;
        background-repeat: no-repeat;
    height: 150px;
}

nav {
    font-weight: bold;
    text-align: center;
    padding: 1em;
    float: left;
    width: 190px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2em;
}

nav ul li a:link {
    color: #3f2860;
}

nav ul li a:visited {
    color: #497777;
}

nav ul li a:hover {
    color: #A26100;
    border: #333333 inset 3px;
    background-color: #b6d2d3;
    transition: background-color 3s ease-out;
}

nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    border: #cccccc outset 3px;
    padding: 1em;
    margin-bottom: 1em;
}

main {
    padding: 0em 3em 3em 3em;
    display: block;
    margin-left: 170px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: #3f2860 solid 1px;
    margin-bottom: 1em;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border: #3f2860 solid 1px;
}

tr:nth-of-type(even) {
    background-color: #D7E8E9;
}

caption {
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}

#mathero {
    height: 300px;
    background-image: url("yoga_images/yogamat.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#loungehero {
    height: 300px;
    background-image: url("yoga_images/yogalounge.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


h1 {
    padding-top: 50px;
    padding-left: 2em;
}

li {
    font-size: 90%;
}

footer {
    background-color: #9BC1C2;
    font-style: italic;
    text-align: center;
    font-size: small;
    padding: 1em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 10em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 2em;
}

input[type="submit"] {
    margin-left: 12em;
}

form {
    padding: 3em;
}

.floatleft {
    float: left;
    margin-right: 4em;
}

.clear {
   clear: both;
}

#mobile {
    display: none;
  }

#desktop {
    display: inline;
}

audio {
    margin: 1em;
}

@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        padding: 0;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        margin: 0;
        padding: 0;
    }
    header {
        padding-top: 1px;

    }
    main {
        padding-top: 0;
        padding-bottom: 2.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        font-size: 90%;
        float: none;
    }
    nav {
        float: none;
        width: auto;
        padding-left: 2em;
    }
    nav ul li a {
        padding: 0.2em;
        margin-left: 0.3em;
        float: left;
        width: 23%;
    }
    h2, h3, p, dl {
        padding-left: 2em;
        padding-right: 2em;
    }
    main ul {
        margin-left: 2em;
    }
    .floatleft {
        margin-left: 2em;
        margin-bottom: 1em;
    }
    .clear {
        padding-left: 2em;
    }
    #mathero {
        height: 150px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #loungehero {
        height: 150px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 37.5em) {
    h1 {
        font-size: 2em;
        padding-top: 0.25em;
        padding-left: 1.5em;
        width: 85%;
    }

    nav ul li a {
        padding: 0.5em;
        width: 45%;
        float: left;
        min-width: 6em;
        margin-left: 0.5em;
    }

    li {
        font-size: 100%;
    }
    .floatleft {
        float: none;
        display: none;
    }
    #mathero {
        display: none;
        background-image: none;
        height: 0;
    }
    #loungehero {
        display: none;
        background-image: none;
        height: 0;
    }

    footer {
        padding: 0.5em;
        margin: 0;
    }

    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
    label {
        float: none;
        text-align: left;
    }
    input[type="submit"] {
        margin-left: 0;
    }

}
